<div *ngIf="data" class="toto">
    <h2 mat-dialog-title>Information sur le joueur</h2>
    <mat-dialog-content class="mat-typography">
        <div class="toto">
            <mat-card class="example-card">
                <mat-card-content>
                    <p><strong>Name : </strong> {{data.body.name}}</p>
                    <p><strong>Date de début : </strong>{{data.body.start_time | date}} </p>
                    <p><strong>Trésors trouvés :</strong></p>
                    <ul *ngFor="let tresor of data.body.retreived_tresors">
                        <li>{{tresor}}</li>
                    </ul>
                </mat-card-content>

            </mat-card>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>

<div *ngIf="!data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <h1>ATTENTION</h1>
            <p>
                Il vous faut une clé pour rentrer. Mettre la clé dans la balise "x-auth-token"
            </p>

            <p>
                Inscrivez-vous d'abord avant d'accéder aux infos du joueur
            </p>
        </mat-card-content>
        <mat-card-actions  align="end">
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>