<div *ngIf="data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <h1>{{data.body}}</h1>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-inscription" routerLink="/home">Retour à l'entrée du Donjon</button>

        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="!data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <h1>ATTENTION</h1>
            <p>
                Il vous faut une clé pour rentrer. Mettre la clé dans la balise "x-auth-token"
            </p>
            <p>
                Inscrivez-vous d'abord avant d'accéder à ce lieu
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-inscription" routerLink="/home">Retour à l'entrée du Donjon</button>

        </mat-card-actions>
    </mat-card>
</div>