<div *ngIf="data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <h1>Attention un dragon s'oppose à vous</h1>
            <p>
                
                {{data.body}}
            </p>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-inscription" (click)="wrong()">PUT</button>
            <button mat-button class="btn btn-inscription" (click)="wrong()">POST</button>
            <button mat-button class="btn btn-inscription" (click)="deleteDragon()">DELETE</button>
            <button mat-button class="btn btn-inscription" routerLink="/accueil-troisieme-etage">Retour à létage</button>

        </mat-card-actions>
    </mat-card>
</div>

<div *ngIf="!data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <h1>ATTENTION</h1>
            <p>
                Il vous faut une clé pour rentrer. Mettre la clé dans la balise "x-auth-token"
            </p>
            <p>
                Inscrivez-vous d'abord avant d'accéder à ce lieu
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-inscription" routerLink="/accueil-troisieme-etage">Retour à l'entrée de l'étage</button>

        </mat-card-actions>
    </mat-card>
</div>