<!-- <div class="toto"> -->
<div *ngIf="data" class="toto">
    <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <p><small>{{ data.body.descripton }}</small></p>
            <h1>Afin de continuer l'aventure tu dois résoudre mon énigme :</h1>

            <p>
                {{data.body.question}}
            </p>

            <!-- <h1>Réponse à l'énigme</h1>
            <div>
                <form [formGroup]="vieuxForm" (ngSubmit)="addResponse()">
                    <mat-form-field>
                        <mat-label>Route</mat-label>
                        <textarea matInput placeholder="Réponse..." formControlName="name" required></textarea>

                    </mat-form-field>
                    <button mat-button class="btn btn-inscription">Vérifier la route</button>
                </form>
            </div> -->
        </mat-card-content>

        <mat-card-actions>
            <button mat-button class="btn btn-inscription" routerLink="/accueil-second-etage">Retour à l'entrée du 2ème
                étage</button>

        </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="example-card">
        <mat-card-content style="text-align: center;">
            <p><small>{{ data.body.descripton }}</small></p>
            <h1>Afin de continuer l'aventure tu dois résoudre mon énigme :</h1>

            <p>
                {{data.body.question}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-inscription" routerLink="/accueil-second-etage">Retour à l'entrée du 2ème
                étage</button>

        </mat-card-actions>
    </mat-card> -->
</div>