mat-card {
    background-color: #9c5813a6;
    width: 50%;
    margin: auto;

    .btn {
        background-color: #FBE7E1;
        margin-top: 1%;
        margin-bottom: 1%;
        min-width: 30vw;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.32);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.32);
    }

    mat-card-actions {
        // text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

.toto {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("/assets/background_home.png");

}